.pokemons{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
}


.pokemon{
    color: white;
    margin:  0.5rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #32c793;
    border-radius: 1rem;

}
.pokemon .detail img{
    align-self: flex-end;
    max-width: 100%;
    max-height: 78px;
}
.number{
text-align: right;
color: #0b5239;
opacity: 70%;
font-size: 0.625rem;
}
.name{
    align-self: flex-start; 
    margin-bottom: 0.25rem;
}
.types{
    list-style-type: none;
    padding: 0;


}
.detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.type{
    padding: 0.2rem 0.5rem;
    background-color: #63aa91;
    margin: 0.125rem 0.125rem;
    font-size: 0.625rem;
    border-radius: 1rem;

}
